{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title> Tickers App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{% static 'files/styles.css' %}" rel="stylesheet">
    <script src="{% static 'files/investing_styles.js' %}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.css">
    <script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.js"></script>
    <script>

        async function val() {
            style = document.getElementById("styleFilter").value;
            mentor = document.getElementById("mentorFilter").value;
            window.location.href = `http://127.0.0.1:8000/context/investing_styles?page=1&style=${style}&mentor=${mentor}`
            var { get_data, page_data, current_page } = await getStrat();
            const paginationRow = document.getElementById('pagination')
            paginationRow.innerHTML = ``
            handlePagination(page_data, current_page)
            const tableRow = document.getElementById('investing-style-table')
            tableRow.innerHTML = ``
            get_data.forEach(element => {
                tableRow.innerHTML += `<tr id='investing-style-row-${element.id}'>
      <td contenteditable='false' id='investing-style-row-${element.id}-style'> ${element.style}</td>
      <td contenteditable='false' id='investing-style-row-${element.id}-mentor'>${element.mentor}</td>
      <td contenteditable='false' id='investing-style-row-${element.id}-strategy-name'> ${element.strategy_name}</td>
      <td contenteditable='false' id='investing-style-row-${element.id}-source'> ${element.source}</td>
      <td contenteditable='false' id='investing-style-row-${element.id}-video-url'> ${element.video_url}</td>
      <td class="hidden-icon" style="border: None;" data-id='investing-style-row-${element.id}' onclick="edit(${element.id})">
      <i class="fa fa-edit" aria-hidden="true"></i> 
      </td>
      <td class="hidden-icon" style="border: None;" data-id='investing-style-row-${element.id}' onclick="del(${element.id})">
        <i class="fa fa-trash-o"  aria-hidden="true"></i> 
      </td>
      </tr>`
            });

        }

        function handlePagination(pages, current) {
            let style = document.getElementById("styleFilter").value;
            let mentor = document.getElementById("mentorFilter").value;
            style = style ? style : "All"
            mentor = mentor ? mentor : "All"
            if (pages < 20) {
                for (i = 1; i <= pages; i++) {
                    let opt = document.createElement("a");
                    opt.value = i;
                    opt.innerHTML = i;
                    if (i == current) {
                        opt.className = "active"
                    }
                    function val() {
                        style = document.getElementById("styleFilter").value;
                        mentor = document.getElementById("mentorFilter").value;
                    }
                    opt.href = `http://127.0.0.1:8000/context/investing_styles?page=${i}&style=${style}&mentor=${mentor}`
                    console.log(opt)
                    $('#pagination').append(opt);

                }
            } else {
                var arr = [];
                current = current
                let index2 = current - 2;
                arr.push(index2)
                let index1 = current - 1;
                arr.push(index1)
                let index = current;
                arr.push(index)
                let nextIndex = current + 1;
                arr.push(nextIndex)
                if (current == 1) {
                } else {
                    let opt = document.createElement("a");
                    opt.value = current - 1;
                    opt.innerHTML = `<i class="fa fa-angle-double-left"></i>`
                    opt.href = `http://127.0.0.1:8000/context/investing_styles?page=${index1}&style=${style}&mentor=${mentor}`
                    $('#pagination').append(opt);
                }
                for (let i = 0; i < arr.length; i++) {
                    if (arr[i] > 0) {
                        if (arr[i] <= pages) {
                            let opt = document.createElement("a");
                            opt.value = arr[i];
                            opt.innerHTML = arr[i];
                            if (arr[i] == current) {
                                opt.className = "active"
                            }
                            opt.href = `http://127.0.0.1:8000/context/investing_styles?page=${arr[i]}&style=${style}&mentor=${mentor}`
                            $('#pagination').append(opt);
                        }
                    }
                }
                if (current == pages) {
                } else {
                    let right = document.createElement("a");
                    right.value = current - 1;
                    right.innerHTML = `<i class="fa fa-angle-double-right"></i>`
                    right.href = `http://127.0.0.1:8000/context/investing_styles?page=${nextIndex}`
                    $('#pagination').append(right);
                }
            }
        }

        async function handleApiCalls() {
            document.getElementById("tableDiv").className = "hideTable";
            document.getElementById("spinner").className = "spinner-border";
            var data = await getDropDown();
            const {
                styleFilter
            } = data
            console.log(styleFilter);
            for (let i = 0; i < styleFilter.length; i++) {
                console.log("In Style Filter For Loop")
                let opt = document.createElement("option");
                opt.value = styleFilter[i]; //or i, depending on what you need to do
                opt.innerHTML = styleFilter[i];
                $('#styleFilter').append(opt); //Chuck it into the dom here if you want
            }
            console.log("styleFilter OPtions Read")
            let url = window.location.search;
            console.log(url)
            // let catogery = url.substring(url.lastIndexOf("category=")).split("=")[1];
            let style;
            let mentor;
            if (url) {
                style = url.substring(url.lastIndexOf("style=")).split("=")[1].split("&")[0]
                // catogery2 = url.substring(url.lastIndexOf("category2=")).split("=")[1]
                mentor = url.substring(url.lastIndexOf("mentor=")).split("=")[1].replaceAll("%20", " ")
                // console.log("catt2", catogery2)
            }
            if (style) {
                let opt = document.getElementById("styleFilter")
                console.log("DOCUMENT GETDROPDOWN METRIC,", opt)
                opt.value = style
                await getMentorsByStyle()
            }
            if (mentor) {
                let opt = document.getElementById("mentorFilter")
                opt.value = mentor
            }
            console.log("Initiating Strat")
            var { investing_style_data, page_data, current_page } = await getStrat();
            const paginationRow = document.getElementById('pagination')
            const tableRow = document.getElementById('investing-style-table')
            tableRow.innerHTML = ``
            handlePagination(page_data, current_page)
            investing_style_data.forEach(element => {
                tableRow.innerHTML += `<tr id='investing-style-row-${element.id}'>
      <td contenteditable='false' id='investing-style-row-${element.id}-style'> ${element.style}</td>
      <td contenteditable='false' id='investing-style-row-${element.id}-mentor'>${element.mentor}</td>
      <td contenteditable='false' id='investing-style-row-${element.id}-strategy-name'> ${element.strategy_name}</td>
      <td contenteditable='false' id='investing-style-row-${element.id}-source'> ${element.source}</td>
      <td contenteditable='false' id='investing-style-row-${element.id}-video-url'> <a href='${element.video_url}' target='_blank'>${element.video_url}</a></td>
      </tr>`
            });
            document.getElementById("tableDiv").className = "";
            document.getElementById("spinner").className = "hideTable";
        }

        async function getMentorsByStyle() {
            const styleFilterVal = document.getElementById('styleFilter').value
            var data = await getMentorsByStyleDropDown(styleFilterVal);
            const {
                mentorFilter
            } = data
            $('#mentorFilter').children().remove()
            let optAll = document.createElement("option");
            optAll.value = "All"; //or i, depending on what you need to do
            optAll.innerHTML = "All";
            $('#mentorFilter').append(optAll);
            for (let i = 0; i < mentorFilter.length; i++) {
                console.log("In Mentor Filter For Loop")
                let opt = document.createElement("option");
                opt.value = mentorFilter[i]; //or i, depending on what you need to do
                opt.innerHTML = mentorFilter[i];
                $('#mentorFilter').append(opt); //Chuck it into the dom here if you want
            }
        }
    </script>
</head>
<style>
    .container {
        border: 1px solid rgba(0, 0, 0, .11);
        padding: 10px;
        width: 500px
    }

    .error {
        border: 1px solid red;
    }

    .error:focus-visible {
        border: 1px solid red;
    }

    .controls-item {
        display: inline-block;
    }

    .btn {
        margin: 1px;
    }

    .pagination {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: end;
        padding-right: 130px;
    }

    .pagination a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        margin-right: 10px;
    }

    .pagination a.active {
        background-color: gray;
        color: white;
        border-radius: 5px;
    }

    .pagination a:hover:not(.active) {
        background-color: #ddd;
        border-radius: 5px;
    }

    th {
        border: 1px solid black;
    }

    th {
        background: grey;
        color: white;
    }

    td {

        background: white;
        color: black;

    }

    #investing-style-table {
        width: 85%;
        margin-left: 7%;
        margin-top: 5%;
    }

    .editrow {
        width: 100%;
    }

    .hidden-icon {
        width: 20px;
    }

    .tableView {
        padding: 10px 70px;
    }

    .hideTable {
        display: none;
    }

    .spinnerDiv {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

<body onload='handleApiCalls()'>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'investing_styles' %}"> Context </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'index' %}"> Data Acquisition </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'dp_investing_styles' %}"> Data Processing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="{% url 'data_analysis' %}"> Data Analysis</a>
            </li>
        </ul>
        </div>
    </nav>

    <div class="pl-4 alert alert-secondary">
        <span class="title" id="inves_title"> <a style="color: #383d41; font-weight:bold;;"
                href="{% url 'investing_styles' %}">
                Investing Style </span>
        <span class="title" id="ana_title"> <a style="color: #383d41 ; " href="{% url 'analysis_model' %}" class="ml-3">
                Analysis
                Model </a></span>
        <span class="title" id="scr_title"> <a style="color: #383d41;" href="{% url 'screen_model' %}" class="ml-3">
                Screen
                Model </a></span>
    </div>
    <div class="spinnerDiv">
        <div class="hideTable" role="status" id="spinner">
            <span class="visually-hidden"></span>
        </div>
    </div>

    <div id="tableDiv" class="">
        <div class="filter-row">
            <label for="styleDrop" style="padding-left:  70px;">Style</label>
            <select id="styleFilter" name="styleDrop" onchange="getMentorsByStyle()" style="min-width: 110px;">
                <option value="null">All</option>
            </select>
            <label for="mentorDrop" style="padding-left:  30px;">Mentor</label>
            <select id="mentorFilter" name="mentorDrop" style="min-width: 110px;">
                <option value="null">All</option>
            </select>
            <button class="btn-dark" onclick="val()">
                Filter
            </button>
        </div>
        <div class="tableView">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Style</th>
                        <th scope="col">Mentor</th>
                        <th scope="col">Strategy Name</th>
                        <th scope="col">Source</th>
                        <th scope="col">Video</th>
                    </tr>
                </thead>
                <tbody id="investing-style-table">
                    <tr>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="pagination" id="pagination">
        </div>
    </div>
</body>
</html>
