{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title> Tickers App</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="{% static 'files/styles.css' %}" rel="stylesheet">
  <script src="{% static 'files/financials.js' %}"></script>


  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.css">
  <script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.js"></script>

  
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'investing_styles' %}"> Context </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'index' %}"> Data Acquisition </a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="{% url 'dp_investing_styles' %}"> Data Processing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="{% url 'data_analysis' %}"> Data Analysis</a>
      </li>

  

    </ul>

  </div>
</nav>
  


<div class="pl-4 alert alert-secondary">
  
  <span class="title" id="metric_title" >   <a style="color: #383d41;" href="{% url 'data_analysis' %}"> Metric </span>
  <span class="title" id="reg_title" >  <a style="color: #383d41; ;" href="{% url 'lregression' %}" class="ml-3"> Linear Regression  </a></span>
  <span class="title" id="reg_title" >  <a style="color: #383d41; ;" href="{% url 'financials' %}" class="ml-3"> Financial </a></span>
  <span class="title" id="reg_title" >  <a style="color: #383d41; ;" href="{% url 'profile_group' %}" class="ml-3"> Profile  </a></span>
  <span class="title" id="reg_title" >  <a style="color: #383d41; ;" href="{% url 'financial_notes' %}" class="ml-3"> Financial Notes </a></span>
  <span class="title" id="reg_title" >  <a style="color: #383d41; ;" href="{% url 'keymetrics_group' %}" class="ml-3"> Key Metrics TTM  </a></span>
  <span class="title" id="reg_title" >  <a style="color: #383d41; ;" href="{% url 'reported_financials' %}" class="ml-3"> Reported Financial  </a></span>
  <span class="title" id="reg_title" >  <a style="color: #383d41; ;" href="{% url 'market_data' %}" class="ml-3"> Market Data </a></span>
  <span class="title" id="reg_title" >  <a style="color: #383d41; font-weight: bold;" href="{% url 'ranges' %}" class="ml-3"> Ranges </a></span>
  <span class="title" id="reg_title" >  <a style="color: #383d41; ;" href="{% url 'rate_group' %}" class="ml-3"> Rates  </a></span>

</div>

<form class=" mt-5 ml-3" action="{% url 'ranges' %}"  method="POST" >


    <label class='mr-3 ml-5'> Metric </label>



      <input list="metrics" name="metric" class=" select_NY  mr-2 " >
      <datalist id="metrics">
        {% for obj in metricslist %}
        <option value="{{ obj }}">
  
        {% endfor %}
      </datalist>







  


 <button id="submit" type="submit" class="btn btn-dark mb-2" > Submit</button>

</form>

{% if metric %}
<div style="color: red;" class="mt-4">

  <span class="ml-5"> Metric: {{metric}} </span> 
  
  </div>
  <br>

  {% endif %}



{% if data_list %}
<table class="ml-5">
  <tr>
      <td>
          Metrics
      </td>
      <td>
          Name
      </td>
      <td>
          Source
      </td>
      <td>
        Min
      </td>
      <td>
        Max
      </td>

  </tr>
 


{% for obj in data_list %}
<tr>
    <td>{{obj.metrics}}</td>
    <td>{{obj.name}}</td>
    <td>{{obj.source}}</td>
    <td>{{obj.min}}</td>
    <td>{{obj.max}}</td>


</tr>
{% endfor %}
</table>



<br>
<br>


  {% endif %}


  </body>
</html>

